<!--
  Generated template for the ImageActionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="opaque">

  <ion-navbar>
    <ion-buttons end>
      <button (click)="addToFavourite()" ion-button icon-only>
        <ion-icon *ngIf="!addedToFavourite" name="ios-heart-outline"></ion-icon>
        <ion-icon *ngIf="addedToFavourite" name="ios-heart"></ion-icon>
      </button>
      <button (click)="share(fab)" ion-button icon-only>
          <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <img src="{{image}}" width="100%" height="100%">
  <ion-fab bottom right #fab>
    <button ion-fab class="mainFAB">
        <ion-icon name="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab (click)="setAsBackground(fab)">
            <ion-icon name="md-checkmark"></ion-icon>
        </button>
      <button ion-fab (click)="download(fab)">
          <ion-icon name="md-download"></ion-icon>
      </button>
      <button ion-fab (click)="share(fab)">
          <ion-icon name="md-share-alt"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
