  .align-center {
    text-align: center;
  }
  .tc{
    text-align: center !important;
  }
  .mtc{
    z-index: 999;
    position: fixed !important;
  }
  .highlight {
    color: #19152c !important;
    background: #C9C7D3 !important;
    border-bottom: none !important;
  }
  #menu-dark .menu ion-list .highlight .item-inner {
    border-bottom: none !important;
 }
  .center {
    display: block;
    margin: 0 auto;
  }
  .minW50{
      min-width: 50%;
  }
  .vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .top-radius {
    border-radius: 10% 10% 0 0;
  }
  
  .bottom-radius {
    border-radius: 0 0 10% 10%;
  }
  
  .round {
    border-radius: 50%;
  }
  
  .transparent-header {
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    .back-button {
      color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
      background: transparent !important;
      background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
      background-image: none;
      border-bottom: 0;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
      border: 0;
    }
    // ---
  }
  

  // Dark Design Sidemenu
  #menu-dark{
    .sidemenuHeader{
      ion-toolbar{
        .toolbar-background{background: $sidemenu_color;border:$sidemenu_color; }
        ion-buttons{
          button{color: #fff;}
        }
        .toolbar-content{
          ion-item{background: transparent;color: #fff;
            ion-avatar{background: #fff;color:$header_color;border-radius:50%;text-align: center;
              h2{margin: 0;font-size: 25px;line-height: 40px;color: $sidemenu_color;}
            }
            h2{font-size: 12px;font-weight: normal;}
            p{font-size: 11px;font-weight: normal;color:#fff;}
          }
        }
      }
    }
    .menu{background: $sidemenu_color;
      ion-list{
        button{background: transparent;color: #C9C7D3;font-size: 13px;
          .item-inner{border-bottom: 1px solid #474456 !important;
            img{width: 30px;height: 30px;vertical-align: middle;margin-right: 10px;margin-bottom: 5px;}
          }
        }
      }
    }
  }
  