page-top {
    @media screen and (max-width: 700px) {
        .minW50{
            min-width: 50% !important;
        }
    }
    @media screen and (min-width: 701px) {
        .minW50{
            min-width: 33% !important;
        }
    }
    .gridImage{
        width: 100% !important;
        height: 200PX !important;
    }
    ion-grid{
        padding: 0px !important;
    }
    ion-col{
        padding:0px !important;
        height: 200PX !important;
    }
}
